$app-color-one:#f95343 !default; // orange
$app-color-two:#b9ddf1 !default; // turquoise
$app-color-three:#00c1d0 !default; // light blue
$app-color-four:#002e55 !default; // dark blue
$app-color-five:#5b233d !default; // maroon
$app-color-six:#77787b !default; // gray
$app-color-seven:#000000 !default; // white
$app-color-eight:#FFFFFF !default; // black

$subtle-color:#efefef;

$space-small: 5px;
$space-medium: 10px;
$space-large: 20px;
$space-extra-large:40px;