header {
  @include grid-row;
  
  .logo  { 
  	@include grid-column($columns:3, $center:true);
   }
  
  padding-bottom: em-calc(10px);
  
	.top-bar {
		
		position:initial;

		.divider {
		
			height:0px;
		
		}
		
		.toggle-topbar
		{
			
		}
	}

  #threevl-badge {
	  width:auto; height:45px;
	}

}

